{% extends 'bootstrap/base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <script
      src="static/js/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <script src="static/js/home.js"></script>
</head>

{% block navbar %}
    <center>
    <br>
    <button id="create" type="button" class="btn btn-primary">CREATE</button>
    <button id="read" type="button" class="btn btn-primary">READ</button>
    </center>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="static/js/home.js"></script>
{% endblock %}