<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">USN</th>
      <th scope="col">Fname</th>
      <th scope="col">Lname</th>
      <th scope="col">GPA</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% if data %}
    {% for student in data %}
        
          <tr>
            <th scope="row" id="{{ student['usn'] }}">{{ student["usn"] }}</th>
            <td>{{ student["fname"] }}</td>
            <td>{{ student["lname"] }}</td>
            <td>{{ student["gpa"] }}</td>
            <td>{{ student["email"] }}</td>
            <td>{{ student["phone_no"] }}</td>
            <td> <button class="btn btn-info" onclick= "update_fn(data={{ student['usn'] }})">Edit</button> </td>
            <td> <button class="btn btn-danger" onclick= "delete_fn(data={{ student['usn'] }})">Delete</button>  </td>
          </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>