{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<center>
    <br>
  <div id="div1" align="left">
    {% if form %}
      <form class="form form-horizontal" id="update_form" style="width:25%; position:relative; left:40%">
        {{ wtf.form_field(form.usn, readonly=true) }}
        {{ wtf.form_field(form.fname) }}
        {{ wtf.form_field(form.lname) }}
        {{ wtf.form_field(form.gpa) }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.phone) }}
        {{ wtf.form_field(form.submit) }}
      </form>
      {% endif %}
      <br>
    <div>
</center>
{% endblock %}